/**
 * @author: Slixbits, © 2011
 * Licensed under LGPLv3 or later
 * 
 * Part of the Collapsible Smiley List plugin for SMF.
 * This file contains the CSS styles for the smiley display on the post or private message page.
 * 
 */


.collapsible_smiley_list_container {
	width: 96%;
	text-align: center;
	font-size: 80%;
}


/* Styles for the Favorites and Unloaded sections. */

.collapsible_smiley_list_container .smiley_section {
	text-align: left;
	margin: 15px;
	margin-left: 0px;
}

.collapsible_smiley_list_container .smiley_section .smiley_section_heading {
	margin: 0px;
	padding: 0px;
}

.collapsible_smiley_list_container .smiley_section .smiley_section_heading > h5 {
	display: inline;
	padding-left: 16px;
}

.collapsible_smiley_list_container .smiley_section .smiley_section_heading > * {
	margin-top: 0px;
	margin-bottom: 0px;
}

.collapsible_smiley_list_container .smiley_section .smiley_section_content {
	margin-top: 2px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #788a9e;  /* a slate gray color */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	-moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);

	display: inline-block;
}

.collapsible_smiley_list_container #smiley_favorites #smiley_favorites_help_text {
	margin: 15px;
}

.collapsible_smiley_list_container #smiley_unloaded {
	min-height: 30px; /* Make sure the Unloaded area is tall enough to be a convenient drop target, even when containing no smileys. */
	min-width: 30px;
}


/* Styles for the Add All and Remove All controls between the Favorites and Unloaded sections */

.smiley_add_or_remove_all_controls {
	display: inline-block;
	padding-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -15px;
	margin-bottom: -15px;
	cursor: pointer;
	cursor: hand;
}

.collapsible_smiley_list_container #smiley_add_all_to_favorites {
	background: url("resources/crystal%20icons/agt_update_misc_16.png") center top no-repeat;
}

.collapsible_smiley_list_container #smiley_remove_all_from_favorites {
	background: url("resources/crystal%20icons/agt_uninstall-product_16_flipped.png") center top no-repeat;
}


/* Styles for the toggle button to show or hide the controls section. */

.collapsible_smiley_list_container #smiley_controls_toggle_container {
	text-align: left;
}

.collapsible_smiley_list_container #smiley_controls_toggle {
	text-align: left;
	padding-left: 18px;
	cursor: pointer;
	cursor: hand;
}

.collapsible_smiley_list_container #smiley_controls_toggle.smiley_toggle_state_expand {
	background: url("resources/crystal%20icons/player_eject_12_flipped.png") no-repeat;
}

.collapsible_smiley_list_container #smiley_controls_toggle.smiley_toggle_state_collapse {
	background: url("resources/crystal%20icons/player_eject_12.png") no-repeat;
}

.collapsible_smiley_list_container #smiley_controls_toggle.smiley_toggle_state_expand > .smiley_toggle_text_expand {
	display: none;
}
.collapsible_smiley_list_container #smiley_controls_toggle.smiley_toggle_state_collapse > .smiley_toggle_text_expand {
	display: inline;
}
.collapsible_smiley_list_container #smiley_controls_toggle.smiley_toggle_state_expand > .smiley_toggle_text_collapse {
	display: inline;
}
.collapsible_smiley_list_container #smiley_controls_toggle.smiley_toggle_state_collapse > .smiley_toggle_text_collapse {
	display: none;
}


/* Styles for the smileys themselves. */

.collapsible_smiley_list_container .smiley_wrapper {
	cursor: pointer;
	cursor: hand;
}

/*
 *	These styles made unloaded smiley groups have 30% opacity while fully-loaded groups had full opacity to make loaded and unloaded
 *	smiley groups easily distinguishable. The feature was removed because it was confusing to users.
 *
.collapsible_smiley_list_container #smiley_unloaded .smiley_set {
	opacity: 0.3;
	filter:alpha(opacity=30);
}

.collapsible_smiley_list_container #smiley_unloaded .smiley_set.smiley_loaded {
	opacity: 1.0;
	filter:alpha(opacity=100);
}
*/

/* Styles for the drop-down smiley menus. */

.collapsible_smiley_list_container .smiley_set {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 2px;
	vertical-align: bottom;
}

/* when the marquee smiley is hovered over, the padding will be adjusted and a border added to make the smiley appear to bounce;
	for reasons I don't fully understand, the style has to be applied to the container for the marquee smiley rather than the
	smiley itself for it to work */
.collapsible_smiley_list_container .smiley_set:hover {
	margin-top: 1px;
	margin-bottom: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 1px solid white;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0, .5),
		0 0px 15px rgba(0,0,0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0, .5),
		0 0px 15px rgba(0,0,0, .2);
	box-shadow: 0 2px 6px rgba(0,0,0, .5),
		0 0px 15px rgba(0,0,0, .2);
}

.collapsible_smiley_list_container .smiley_set .smiley_wrapper {
	display: block;
	margin: 0px;
	padding: 4px;
	text-align: left;
}

.collapsible_smiley_list_container .smiley_set .smiley_wrapper:hover {
 	padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid white;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0, .5) inset,
		0 0px 15px rgba(0,0,0, .2) inset;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0, .5) inset,
		0 0px 15px rgba(0,0,0, .2) inset;
	box-shadow: 0 2px 6px rgba(0,0,0, .5) inset,
		0 0px 15px rgba(0,0,0, .2) inset;
}

/* adds a snazzy drop-shadow to the smiley drop-down the user is browsing */
.collapsible_smiley_list_container .smiley_set .smiley_dropDown {
	background-color: #ecedf3;
	display: none;
	position: absolute;
	left: 0px;
	z-index: 99;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 1px solid white;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0, .5),
		0 0px 15px rgba(0,0,0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0, .5),
		0 0px 15px rgba(0,0,0, .2);
	box-shadow: 0 2px 6px rgba(0,0,0, .5),
		0 0px 15px rgba(0,0,0, .2);
}

